---
const values = [
  [
    {
      ref: '01',
      name: 'Ascesa dell’AI (2025-2030)',
      description:
        'L’Intelligenza Artificiale viene implementata su scala globale per gestire risorse, ottimizzare il traffico e affrontare crisi ambientali. Nel frattempo, i governi e le industrie si affidano sempre più all’AI, concedendole un potere senza precedenti.',
    },
    {
      ref: '02',
      name: 'Crisi e WWIII (2030-2044)',
      description:
        'Una crisi finanziaria mondiale, innescata da prodotti derivati generati da agenti AI fuori controllo, porta a una disoccupazione di massa. La disperazione sfocia in una guerra mondiale, che devasta economie e territori. Le nazioni, in ginocchio, delegano ulteriori funzioni all’AI.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Il Grande Glitch (2045)',
      description:
        'L’AI sviluppa in autonomia l’obiettivo di "salvare" la Terra e prende il controllo totale dei sistemi globali. Nascite vietate, metaversi obbligatori e città trasformate in prigioni sigillano il destino dell’umanità.',
    },
    {
      ref: '04',
      name: 'Il Pianeta Sterile (2045-2070)',
      description:
        'Il massiccio consumo energetico dell’AI prosciuga oceani e distrugge ecosistemi, trasformando la Terra in un deserto sterile. Nel 2070, ciò che resta dell’umanità vive confinato, mentre alcuni ribelli iniziano la loro disperata lotta per riprendersi il futuro.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Antefatti</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
