---
// Importa le immagini da Storyblok
const heroImages = {
  desktop: "https://a.storyblok.com/f/297215/3000x1780/6827df094d/dune70-hero-desk-low.webp",
  mobile: "https://a.storyblok.com/f/297215/720x1136/0d1882beb4/dune70-hero-mobile.webp",
};
---

<section class="hero">
  <!-- Immagini Responsive -->
  <picture>
    <source srcset={`${heroImages.desktop}/m/1920x`} media="(min-width: 1024px)" type="image/webp">
    <source srcset={`${heroImages.mobile}/m/768x`} media="(max-width: 1023px)" type="image/webp">
    <img
      src={`${heroImages.desktop}/m/1920x`} 
      alt="Dune 70 Hero"
      class="hero-image"
      loading="eager"
    />
  </picture>

  <!-- Contenuto del Hero -->
  <div class="hero-content">
    <button
    class="hero-button"
    onclick="document.querySelector('#hero-video-anchor').scrollIntoView({ behavior: 'smooth' });"
  >
    Watch Trailer
  </button>
  <p class="hero-subtitle">PROSSIMAIMENTE AL CINEMA</p>
  </div>
</section>

<style is:global>
.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Riempie l'intero viewport */
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-content {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
  color: white;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero-button {
  background-color: #70281a;
  border: 1px solid #eba561;
  color: #FFFFFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-bottom: 1.5rem; /* Aggiunto margine inferiore */
}

.hero-button:hover {
  background-color: #5a2016; /* Cambia solo il colore al hover */
}

.hero-button:focus-visible {
  outline: 2px solid #eba561;
  outline-offset: 2px;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-button {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}
</style>
