---
import HeroVideoReact from '../shared/HeroVideo.jsx';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <HeroVideoReact client:visible />
  </div>
</section>

<style is:global>
  /* Proporzioni del player */
  .aspect-w-16 {
    aspect-ratio: 16 / 9;
  }
  
  .aspect-h-9 {
    aspect-ratio: 16 / 9;
  }
</style>
