<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <dl class="grid gap-6 lg:grid-cols-3">
      <!-- Address -->
      <div class="bg-primary-500/10 dark:bg-primary-400/10 rounded-3xl px-6 py-8">
        <dt class="sr-only">Postal address</dt>
        <dd class="flex h-full flex-col justify-between gap-12">
          <svg
            class="text-primary-600 dark:text-primary-400 h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="m 15.75 10.5 l 4.72 -4.72 a 0.75 0.75 0 0 1 1.28 0.53 v 11.38 a 0.75 0.75 0 0 1 -1.28 0.53 l -4.72 -4.72 M 4.5 18.75 h 9 a 2.25 2.25 0 0 0 2.25 -2.25 v -9 a 2.25 2.25 0 0 0 -2.25 -2.25 h -9 A 2.25 2.25 0 0 0 2.25 7.5 v 9 a 2.25 2.25 0 0 0 2.25 2.25 Z"
            ></path>
          </svg>
          <div class="text-base font-medium">
            <p>Wormer Bros. Pictures</p>
            <p>Adsurd Productions</p>
          </div>
        </dd>
      </div>

      <!-- Phone number -->
      <div class="bg-primary-500/10 dark:bg-primary-400/10 rounded-3xl px-6 py-8">
        <dt class="sr-only">Phone number</dt>
        <dd class="flex h-full flex-col justify-between gap-12">
          <svg
            class="text-primary-600 dark:text-primary-400 h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z"
            ></path>
          </svg>
          <p class="text-base font-medium">Ticketnone</p>
        </dd>
      </div>

      <!-- Email -->
      <div class="bg-primary-500/10 dark:bg-primary-400/10 rounded-3xl px-6 py-8">
        <dt class="sr-only">Email</dt>
        <dd class="flex h-full flex-col justify-between gap-12">
          <svg
            class="text-primary-600 dark:text-primary-400 h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"
            ></path>
          </svg>
          <p class="text-base font-medium">hello@dune70.com</p>
        </dd>
      </div>
    </dl>
  </div>
</section>
